@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('bs.css');
:root {
    --accent: #ffc500;
    --accent-rgb: 255, 197, 0;
    --first-background: #0d1117;
    --first-foreground: #c9d1d9;
    --first-foreground-rgb: 201, 209, 217;
    --second-background: #161b22;
    --second-foreground: #8b949e;
    --third-background: #21262d;
    --link: #58a6ff;
    --placeholder: #6e7681;
    --first-padding: 5px 12px;
    --second-padding: 3px 12px;
    --third-padding: 5px 10px;
    --radius: 6px;
    --border-width: 0.8px;
    --btn-border-color: #f0f6fc1a;
    --btn-hov-bg: #30363d;
    --btn-hov-border-color: var(--second-foreground);
    --inp-border-color: #30363d;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--first-background);
    color: var(--first-foreground);
}

a[href] {
    color: var(--link);
}

.gh-input {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding: var(--first-padding);
    border-radius: var(--radius);
    background-color: #010409;
    color: var(--first-foreground);
    border: var(--border-width) solid var(--inp-border-color) !important;
    transition-duration: 0.08s;
    transition-property: color, background-color, box-shadow, border-color, outline;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    outline: none;
    cursor: text !important;
}

.gh-input::placeholder,
.gh-input::-moz-placeholder,
.gh-input::-webkit-input-placeholder,
span[role=text][aria-placeholder]:empty::before,
span[role=textbox][aria-placeholder]:empty::before {
    color: var(--placeholder);
    opacity: 1;
}

.gh-input:focus {
    background-color: var(--first-background);
    outline: var(--border-width) solid var(--link);
    outline-offset: calc(0px - var(--border-width));
    z-index: 1;
    border-color: var(--link) !important;
}

.gh-button {
    font-size: 12px;
    line-height: 20px;
    padding: var(--first-padding);
    border-radius: var(--radius);
    background-color: var(--third-background);
    color: var(--first-foreground);
    border: var(--border-width) solid var(--btn-border-color);
    transition-duration: 0.1s;
    transition-property: color, background-color, box-shadow, border-color;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 500;
}

.gh-button:hover,
.gh-button.hover {
    background-color: var(--btn-hov-bg);
    border-color: var(--btn-hov-border-color);
}

.gh-form-group {
    display: flex;
}

.gh-form-group>.gh-input:not(:first-child),
.gh-form-group>.gh-button:not(:first-child) {
    margin-left: 0 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.gh-form-group>.gh-input:not(:last-child),
.gh-form-group>.gh-button:not(:last-child) {
    margin-right: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.gh-form-group>.gh-input:first-child {
    border-right: none !important;
}

.gh-form-group>.gh-input:last-child {
    border-left: none !important;
}

.gh-form-group>.gh-input:not(:first-child):not(:last-child) {
    border-left: none !important;
    border-right: none !important;
}

.gh-dd-icon {
    margin-left: 8px;
    margin-right: -4px;
    transition: transform 280ms cubic-bezier(0.33, 1, 0.68, 1);
}

.input {
    --padding-x: 10px;
    background: #f2f2f2;
    color: #333;
    padding: var(--padding-x) calc(var(--padding-x) / 2 * 3);
    border: 2px solid transparent;
    border-radius: 3px;
    outline: 0;
    margin: 5px 0;
    transition: 100ms;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.input.input-sm {
    padding: calc(var(--padding-x) / 2) calc(var(--padding-x) / 2 / 2 * 3);
}

:not(button).input:not([type=submit]):not([type=button]):not(:disabled):hover {
    border-color: #d3d3d3;
}

.input:not([type=submit]):not([type=button]):not(button):focus {
    border-color: var(--accent) !important;
    background-color: white !important;
}

.input[type=submit]:not(:disabled):active,
.input[type=button]:not(:disabled):active,
button.input:not(:disabled):active {
    border-color: rgba(var(--accent-rgb), .3) !important;
}

.input[type=submit],
.input[type=button],
button.input {
    background-color: rgba(var(--accent-rgb), .7);
    border: 2px solid transparent;
    transition: 0.3s;
    color: #333;
    cursor: pointer;
}

.input[type=submit].red,
.input[type=button].red,
button.input.red {
    background-color: rgba(var(--bs-danger-rgb), .7);
}

.input[type=submit].green,
.input[type=button].green,
button.input.green {
    background-color: rgba(var(--bs-success-rgb), .7);
}

.input[type=submit]:hover,
.input[type=button]:hover,
button.input:hover {
    background-color: transparent;
    border-color: var(--accent);
    color: #333;
}

.input[type=submit].red:hover,
.input[type=button].red:hover,
button.input.red:hover {
    border-color: var(--bs-danger);
}

.input[type=submit].green:hover,
.input[type=button].green:hover,
button.input.green:hover {
    border-color: var(--bs-success);
}

.input[type=submit]:disabled,
.input[type=button]:disabled,
button.input:disabled {
    background-color: gray;
    border: 2px solid transparent;
    color: white;
    cursor: default;
}

input:disabled {
    cursor: default !important;
}

.input-row {
    display: flex;
}

.input-row>.input:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-row>.input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-row>.input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-row>.input:first-child {
    border-right: none !important;
}

select-menu {
    position: relative;
    margin: 5px 0;
}

select-menu .placeholder:not(.selected) {
    color: #8b8b8b;
}

.select-btn {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    /* padding: 10px 15px; */
}

.select-btn i.far.fa-chevron-down {
    transition: 200ms;
    margin-left: 6px;
}

select-menu.active .gh-dd-icon {
    transform: rotate(-180deg);
}

select-menu.active .select-btn {
    background-color: var(--btn-hov-bg);
    border-color: var(--btn-hov-border-color);
}

select-menu .options {
    padding: 0;
    position: absolute;
    top: calc(100% + 4px);
    left: -2px;
    border-radius: 6px;
    background: var(--second-background);
    display: none;
    min-width: 300px;
    width: max-content;
    margin: 0 !important;
    z-index: 1000;
    border: var(--border-width) solid var(--inp-border-color);
}

select-menu.active .options {
    display: block;
}

.options .option {
    display: block;
    cursor: pointer;
    padding: 7px 16px;
    line-height: 18px;
    background: var(--second-background);
    border-bottom: 1px solid var(--third-background);
    color: var(--first-foreground);
    font-size: 12px;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.options .option:not(.text) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options .option[data-disabled]:not([data-disabled="false"]) {
    color: var(--second-foreground) !important;
    cursor: default !important;
    pointer-events: none;
}

.options .option.text {
    cursor: auto;
    font-weight: 600;
}

.options .option:not(.text):hover {
    background: var(--third-background);
}

.option .option-text {
    color: #333;
}


/* span[role=text],
span[role=textbox] {
    display: inline-block;
    font-weight: 400;
    font-size: calc(1em * 0.833333125);
    padding: 2px 4px;
    min-width: 6px;
    max-width: 160px;
    overflow: auto hidden;
    scrollbar-width: none;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    cursor: text;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    outline: none;
    transition: border-color 150ms;
} */

th.editable-cell,
td.editable-cell {
    position: relative;
    padding: 0;
}

th.editable-cell>div[contenteditable],
td.editable-cell>div[contenteditable] {
    position: relative;
    font-weight: 400;
    font-size: calc(1em * 0.833333125);
    padding: var(--third-padding);
    min-width: 6px;
    max-width: 160px;
    overflow: scroll hidden;
    scrollbar-width: none;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    cursor: text;
    outline: none;
    transition: color 150ms;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--first-foreground);
}

th.editable-cell>div[contenteditable]:not(:hover):not(:focus),
td.editable-cell>div[contenteditable]:not(:hover):not(:focus) {
    color: var(--placeholder);
}

th.editable-cell>button.edit,
td.editable-cell>button.edit {
    position: absolute;
    top: 0;
    left: -2px;
    transform: translateY(-100%);
    padding: 2px 4px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fe6969;
    transition: background-color 150ms;
    cursor: pointer;
    display: none;
}

th.editable-cell:hover>button.edit,
td.editable-cell:hover>button.edit {
    display: block;
}

th.editable-cell>button.edit:hover,
td.editable-cell>button.edit:hover {
    background-color: #ffaaaa;
}

th.editable-cell.left>button.edit,
td.editable-cell.left>button.edit {
    top: -2px;
    left: 0;
    transform: translateX(-100%);
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

th.editable-cell>.loading,
td.editable-cell>.loading {
    display: block;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .85rem;
}

th.editable-cell>.loading.hide,
td.editable-cell>.loading.hide {
    display: none;
}

span[role=text]:hover,
span[role=textbox]:hover {
    border-color: #d3d3d3;
}

span[role=text]:focus,
span[role=textbox]:focus {
    border-color: var(--accent);
}

span[role=text][aria-placeholder]:empty::before,
span[role=textbox][aria-placeholder]:empty::before {
    content: attr(aria-placeholder);
    /* visibility: hidden; */
}

body {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100vh;
    margin: 0;
}

#chartcontainer {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    padding: 1rem;
    box-sizing: content-box;
    position: relative;
}

#chart {
    max-height: 100% !important;
}

#jscode {
    grid-column: 1 / 4;
    grid-row: 4 / 11;
    overflow: hidden;
    padding: 1rem;
}

#jscode pre {
    display: block;
    color: var(--second-foreground);
    background: var(--second-background);
    border-radius: 4px;
    padding: 1em !important;
    border: 1px solid rgb(211, 220, 228);
    font-size: .9rem !important;
    margin: 10px 0;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

#jscode pre code {
    font-size: .9rem !important;
}

#form {
    grid-column: 4 / 11;
    grid-row: 1 / 11;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

#form>* {
    width: max-content;
}

#data {
    border-collapse: collapse;
    border-radius: 4px;
}

#data.hide {
    display: none;
}

#data tr {
    height: 100%;
}

#data tbody:first-child>tr:first-child>td:first-child,
#data thead:first-child>tr:first-child>th:first-child {
    border-top-left-radius: 4px;
}

#data tbody:first-child>tr:first-child>td:last-child,
#data thead:first-child>tr:first-child>th:last-child {
    border-top-right-radius: 4px;
}

#data td,
#data th {
    border: 1px solid var(--second-foreground);
    vertical-align: middle;
    height: 100%;
    min-width: 40px;
}

#data td.nb-top,
#data th.nb-top {
    border-top: none;
}

#data td.nb-left,
#data th.nb-left {
    border-left: none;
}

#data td:not(:last-child),
#data th:not(:last-child) {
    border-right-width: 0;
}

#data tbody:not(:last-child) td,
#data thead:not(:last-child) th,
#data tfoot:not(:last-child) th {
    border-bottom-width: 0;
}