@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('bs.css');
:root {
    --accent: #ffc500;
    --accent-rgb: 255, 197, 0;
}

* {
    box-sizing: border-box;
}

.input {
    --padding-x: 10px;
    background: #f2f2f2;
    color: #333;
    padding: var(--padding-x) calc(var(--padding-x) / 2 * 3);
    border: 2px solid transparent;
    border-radius: 3px;
    outline: 0;
    margin: 5px 0;
    transition: 100ms;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.input.input-sm {
    padding: calc(var(--padding-x) / 2) calc(var(--padding-x) / 2 / 2 * 3);
}

:not(button).input:not([type=submit]):not([type=button]):not(:disabled):hover {
    border-color: #d3d3d3;
}

.input:not([type=submit]):not([type=button]):not(button):focus {
    border-color: var(--accent) !important;
    background-color: white !important;
}

.input[type=submit]:not(:disabled):active,
.input[type=button]:not(:disabled):active,
button.input:not(:disabled):active {
    border-color: rgba(var(--accent-rgb), .3) !important;
}

.input[type=submit],
.input[type=button],
button.input {
    background-color: rgba(var(--accent-rgb), .7);
    border: 2px solid transparent;
    transition: 0.3s;
    color: #333;
    cursor: pointer;
}

.input[type=submit].red,
.input[type=button].red,
button.input.red {
    background-color: rgba(var(--bs-danger-rgb), .7);
}

.input[type=submit].green,
.input[type=button].green,
button.input.green {
    background-color: rgba(var(--bs-success-rgb), .7);
}

.input[type=submit]:hover,
.input[type=button]:hover,
button.input:hover {
    background-color: transparent;
    border-color: var(--accent);
    color: #333;
}

.input[type=submit].red:hover,
.input[type=button].red:hover,
button.input.red:hover {
    border-color: var(--bs-danger);
}

.input[type=submit].green:hover,
.input[type=button].green:hover,
button.input.green:hover {
    border-color: var(--bs-success);
}

.input[type=submit]:disabled,
.input[type=button]:disabled,
button.input:disabled {
    background-color: gray;
    border: 2px solid transparent;
    color: white;
    cursor: default;
}

input:disabled {
    cursor: default !important;
}

.input-row {
    display: flex;
}

.input-row>.input:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-row>.input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-row>.input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-row>.input:first-child {
    border-right: none !important;
}

select-menu {
    position: relative;
    margin: 5px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
}

select-menu .placeholder:not(.selected) {
    color: #8b8b8b;
}

.select-btn {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    /* padding: 10px 15px; */
}

.select-btn i.far.fa-chevron-down {
    transition: 200ms;
    margin-left: 6px;
}

select-menu.active .select-btn i.far.fa-chevron-down {
    transform: rotate(-180deg);
}

select-menu .options {
    position: absolute;
    padding: 8px 0;
    top: calc(100% + 4px);
    left: -2px;
    border-radius: 8px;
    border: 1px solid #eee;
    background: #fff;
    display: none;
    width: calc(100% + 2 * 2px);
    min-width: fit-content;
    margin: 0 !important;
}

select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    cursor: pointer;
    padding: 8px 12px;
    align-items: center;
    background: #fff;
    font-size: 15px;
}

.options .option[data-disabled]:not([data-disabled="false"]) {
    background-color: #f2f2f2 !important;
    color: #8b8b8b !important;
    cursor: default !important;
}

.options .option:hover {
    background: #f2f2f2;
}

.option i {
    margin-right: 12px;
}

.option .option-text {
    color: #333;
}

span[role=text],
span[role=textbox] {
    display: inline-block;
    font-weight: 400;
    font-size: calc(1em * 0.833333125);
    padding: 2px 4px;
    min-width: 6px;
    max-width: 160px;
    overflow: auto hidden;
    scrollbar-width: none;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    cursor: text;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    outline: none;
    transition: border-color 150ms;
}

th.editable-cell,
td.editable-cell {
    position: relative;
    padding: 0;
}

th.editable-cell>div[contenteditable],
td.editable-cell>div[contenteditable] {
    position: relative;
    font-weight: 400;
    font-size: calc(1em * 0.833333125);
    padding: 2px 4px;
    min-width: 6px;
    max-width: 160px;
    overflow: scroll hidden;
    scrollbar-width: none;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    cursor: text;
    outline: none;
    transition: color 150ms;
    height: 100%;
    display: flex;
    align-items: center;
    color: #3c3c3c;
}

th.editable-cell>div[contenteditable]:not(:hover):not(:focus),
td.editable-cell>div[contenteditable]:not(:hover):not(:focus) {
    color: #8b8b8b;
}

th.editable-cell>button.remove,
td.editable-cell>button.remove {
    position: absolute;
    top: 0;
    left: -2px;
    transform: translateY(-100%);
    padding: 2px 4px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fe6969;
    transition: background-color 150ms;
    cursor: pointer;
    display: none;
}

th.editable-cell:hover>button.remove,
td.editable-cell:hover>button.remove {
    display: block;
}

th.editable-cell>button.remove:hover,
td.editable-cell>button.remove:hover {
    background-color: #ffaaaa;
}

th.editable-cell.left>button.remove,
td.editable-cell.left>button.remove {
    top: -2px;
    left: 0;
    transform: translateX(-100%);
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

th.editable-cell>.loading,
td.editable-cell>.loading {
    display: block;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .85rem;
}

th.editable-cell>.loading.hide,
td.editable-cell>.loading.hide {
    display: none;
}

span[role=text]:hover,
span[role=textbox]:hover {
    border-color: #d3d3d3;
}

span[role=text]:focus,
span[role=textbox]:focus {
    border-color: var(--accent);
}

span[role=text][aria-placeholder]:empty::before,
span[role=textbox][aria-placeholder]:empty::before {
    content: attr(aria-placeholder);
    color: lightgray;
    /* visibility: hidden; */
}

body {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100vh;
    margin: 0;
}

#chartcontainer {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    padding: 1rem;
    box-sizing: content-box;
    position: relative;
}

#chart {
    max-height: 100% !important;
}

#jscode {
    grid-column: 1 / 4;
    grid-row: 4 / 11;
    overflow: hidden;
    padding: 1rem;
}

#jscode pre {
    display: block;
    color: #D4D4D4;
    background: #1E1E1E;
    border-radius: 4px;
    padding: 1em !important;
    border: 1px solid rgb(211, 220, 228);
    font-size: .9rem !important;
    margin: 10px 0;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

#jscode pre code {
    font-size: .9rem !important;
}

#form {
    grid-column: 4 / 11;
    grid-row: 1 / 11;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

#form>* {
    width: max-content;
}

#data {
    border-collapse: collapse;
    border-radius: 4px;
}

#data.hide {
    display: none;
}

#data tr {
    height: 100%;
}

#data tbody:first-child>tr:first-child>td:first-child,
#data thead:first-child>tr:first-child>th:first-child {
    border-top-left-radius: 4px;
}

#data tbody:first-child>tr:first-child>td:last-child,
#data thead:first-child>tr:first-child>th:last-child {
    border-top-right-radius: 4px;
}

#data td,
#data th {
    border: 2px solid #d3d3d3;
    vertical-align: middle;
    height: 100%;
    min-width: 40px;
}

#data td:not(:last-child),
#data th:not(:last-child) {
    border-right-width: 0;
}

#data tbody:not(:last-child) td,
#data thead:not(:last-child) th,
#data tfoot:not(:last-child) th {
    border-bottom-width: 0;
}